<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>520297595730-2esn5btslsdq21vh2tt89j7o41c2dm20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520297595730-2esn5btslsdq21vh2tt89j7o41c2dm20</string>
	<key>API_KEY</key>
	<string>AIzaSyARySc1L4CTWa6cVJRGdLQ9v8NJEv9kSgg</string>
	<key>GCM_SENDER_ID</key>
	<string>520297595730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.firimagepicker</string>
	<key>PROJECT_ID</key>
	<string>firimagepicker</string>
	<key>STORAGE_BUCKET</key>
	<string>firimagepicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:520297595730:ios:884f96d7a83b9a06</string>
	<key>DATABASE_URL</key>
	<string>https://firimagepicker.firebaseio.com</string>
</dict>
</plist>